<div class='modal-container'>
    <div class='modal-content'>
        <span>Player '{{wonPlayer}}' has won this game!</span>
        <br />
        <button id='restart'>Restart</button>
    </div>
</div>
<script>
    document.dispatchEvent(new Event('restartBtnLoaded'));
</script>