<div class='modal-container'>
    <div class='modal-content'>
        <span>IT'S A TIE!</span>
        <br />
        <button id='restart'>Restart</button>
    </div>
</div>
<script>
    document.dispatchEvent(new Event('restartBtnLoaded'));
</script>